<div id="backends_tab" class="tab">
	<ul class="tabs">
		<%= tab_for("Services", services_backend_url(@backend)) %>
    <%= tab_for("Contacts", contacts_backend_url(@backend)) %>
    <%= tab_for("Stakeholders", {} ,{selected: false,:class => "disabled"}) %>
    <%= tab_for("Documentation", {} ,{selected: false,:class => "disabled"}) %>
    <%= tab_for("Statistics", {} ,{selected: false,:class => "disabled"}) %>
	</ul>
</div>

<div class="clr"></div>

