<% provider||=@provider %>
<% hide_toolbar||=false %>

<%= div_for(provider,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= provider.name %></td>
	  <th><%= "Id" %>:</th>
		<td><%= provider.identifier %></td>
		<td></td>
	</tr>
</table>

<div class="additional_information" style="display:none">
	<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">

		<%# <%= render :partial => "shared/tag_and_description", :locals => {:record => @membership} %1> %>

		<%= render :partial => "shared/userstamp", :locals => {:record => @provider} %>

	</table>
</div>

<%= render :partial => 'shared/additional_information_buttons' %>

<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => provider.class.to_s.pluralize.downcase, :id => provider.id} %>

<% end %>
