<% service||=@service %>
<% properties||=service.properties %>
<% hide_toolbar||=false %>

<%= div_for(service,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= service.name %></td>
	  <th><%= "Group" %>:</th>
		<td><%= service.group %></td>
	</tr>
	<tr>
	  <th><%= "Id" %>:</th>
		<td><%= service.identifier %></td>
	  <th></th>
    <td></td>
	</tr>
	<tr>
	  <th><%= "Protocol" %>:</th>
		<td><%= service.protocol %></td>
	  <th><%= "Format" %>:</th>
		<td><%= service.format %></td>
	</tr>

</table>

<%= render :partial => 'shared/additional_information', :locals => {:properties => properties} %>

<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => service.class.to_s.pluralize.downcase, :id => service.id} %>

<% end %>
