<% service||=@service %>
<% hide_toolbar||=false %>

<%= div_for(service,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= service.name %></td>
	  <th><%= "Category" %>:</th>
		<td><%= service.category %></td>
	</tr>
</table>

<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => service.class.to_s.pluralize.downcase, :id => service.id} %>

<% end %>
