<% service||=@service %>
<% hide_toolbar||=false %>

<%= div_for(service,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= service.name %></td>
	  <th><%= "Category" %>:</th>
		<td><%= service.category %></td>
	</tr>
  <tr>
    <th><%= "Provider" %></th> 
    <td><%=  link_to(service.provider,provider_url(service.provider)) if service.provider %> </td>
  </tr>
</table>

<%= render :partial => 'shared/additional_information', :locals => {:record => @service} %>

<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => service.class.to_s.pluralize.downcase, :id => service.id} %>

<% end %>
