<div id="unit_tab" class="tab">
	<ul class="tabs">
		<%# tab_for("ReadMe",  service_readme_url(@service) ) %>
		<%= tab_for("Consumers", subscriptions_service_url(@service)) %>
    <%# tab_for("Related services", {} ,{selected: false,:class => "disabled"}) %>
    <%# <%= tab_for("Uses services", {} ,{selected: false,:class => "disabled"}) %1> %>
		<%= tab_for("Relations", relations_service_url(@service)) %>
    <%= tab_for("Backends", {} ,{selected: false,:class => "disabled"}) %>
    <%= tab_for("Documetation", {} ,{selected: false,:class => "disabled"}) %>
    <%= tab_for("Statistics", {} ,{selected: false,:class => "disabled"}) %>
		<%# tab_for("Issues",  {} ,{selected: false,:class => "disabled"}) %>
	</ul>
</div>

<div class="clr"></div>

