<% consumer||=@consumer %>
<% hide_toolbar||=false %>

<%= div_for(consumer,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= consumer.name %></td>
	  <th><%= "Id" %>:</th>
		<td><%= consumer.identifier %></td>
	</tr>
</table>


<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => consumer.class.to_s.pluralize.downcase, :id => consumer.id} %>

<% end %>
