<div id="object_toolbar">

	<%= redpill_toolbar do |toolbar| %>
		<%= toolbar.image("sidebar/consumers.png") %>
		<%= toolbar.text("Subscription") %>

    <% if current_user %>  
      <%= toolbar.item({:class => :edit, :tooltip => "Edit subcription (#{shortcut_modifier}-e)" },
      edit_service_subscription_url(@service,@subscription),
      {:accesskey => "E"} ,@edit_button_disabled) %>

      <%= toolbar.item({:class => :delete, :tooltip => "Delete subcription (#{shortcut_modifier}-d)" },
      service_subscription_url(@service,@subscription),
      {:confirm => 'Are you sure you wish to delete this subscription?',:accesskey => "D", :method => :delete} ,@edit_button_disabled) %>
    <% end %>	
		<%= toolbar.item({:class => :table,:tooltip  => "List subscriptions (#{shortcut_modifier}-l)"},
		service_subscriptions_url(@service),{ :accesskey => "L"},@list_button_disabled) %>
	<% end %>
</div>
