<% properties||=@properties %>
<% if !properties.empty? %>
<div class="additional_information" style="display:none">
	<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">

  <% properties.each_slice(2) do |p1,p2| %>
	<tr>
	  <th><%= h p1.name %>:</th>
		<td><%= h p1.value %></td>
  <% if p2 %>
	  <th><%= h p2.name %>:</th>
		<td><%= h p2.value %></td>
  <%else %>
	  <th></th>
    <td></td>
  <% end %>
  </tr>
  <% end %>

	</table>
</div>
<%= render :partial => 'shared/additional_information_buttons' %>
<% end %>
