<tr>
	<th><%= "Created by" %>:</th>
	<td><%=h record.creator %></td>
	<th><%= "Created at" %>:</th>
	<td><%=h record.created_at.to_s(:long) if record.created_at %></td>
</tr>
<tr>
	<th><%= "Updated by" %>:</th>
	<td><%=h record.updater %></td>
	<th><%= "Updated at" %>:</th>
	<td><%=h record.updated_at.to_s(:long) if record.updated_at %></td>
</tr>

