<% client||=@client %>
<% record||=client %>
<% hide_toolbar||=false %>

<%= div_for(client,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= client.name %></td>
	  <th><%= "Id" %>:</th>
		<td><%= client.identifier %></td>
	</tr>
	<tr>
	  <th><%= "System" %>:</th>
    <td><%= client.system && link_to(client.system,system_path(client.system))%></td>
	  <th><%= "Group" %>:</th>
    <td><%= client.group %></td>
	</tr>
</table>

<%= render :partial => 'shared/more', :locals => {:record => record} %>

<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => client.class.to_s.pluralize.downcase, :id => client.id} %>

<% end %>
