<div id="clients_tab" class="tab">
	<ul class="tabs">
		<%= tab_for("Services", subscriptions_client_url(@client)) %>
		<%# <%= tab_for("Services", client_subscriptions_url(@client)) %1> %>
    <%# <%= tab_for("Contacts", client_contacts_url(@client)) %1> %>
    <%= tab_for("Documentation", {} ,{selected: false,:class => "disabled"}) %>
    <%= tab_for("Statistics", {} ,{selected: false,:class => "disabled"}) %>
	</ul>
</div>

<div class="clr"></div>

