<% contact||=@contact %>
<% hide_toolbar||=false %>

<%= div_for(contact,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= contact.name %></td>
	  <th><%= "Email" %>:</th>
		<td><%= contact.email %></td>
	</tr>

	<tr>
	  <th><%= "Phone" %>:</th>
		<td><%= contact.phone %></td>
	  <th><%= "Mobile" %>:</th>
		<td><%= contact.mobile %></td>
	</tr>

</table>

<div class="additional_information" style="display:none">
	<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">

		<%# <%= render :partial => "shared/tag_and_description", :locals => {:record => @membership} %1> %>

		<%= render :partial => "shared/userstamp", :locals => {:record => @contact} %>

	</table>
</div>

<%= render :partial => 'shared/additional_information_buttons' %>

<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => contact.class.to_s.pluralize.downcase, :id => contact.id} %>

<% end %>
