<% subscription||=@subscription %>
<% hide_toolbar||=false %>

<%= div_for(subscription,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Service" %>:</th>
		<td><%= link_to(subscription.service,service_url(subscription.service)) %></td>
	  <th><%= "Consumer" %>:</th>
		<td><%= link_to(subscription.consumer,consumer_url(subscription.consumer)) %></td>
	</tr>
  <tr>
	  <th><%= "Starts at" %>:</th>
		<td><%= subscription.starts_at %></td>
	  <th><%= "Ends at" %>:</th>
    <td><%= subscription.ends_at %></td>
  </tr>
</table>

<div class="additional_information" style="display:none">
	<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">

		<%# <%= render :partial => "shared/tag_and_description", :locals => {:record => @membership} %1> %>

		<%= render :partial => "shared/userstamp", :locals => {:record => @subscription} %>

	</table>
</div>

<%= render :partial => 'shared/additional_information_buttons' %>

<%= render :partial => 'object_toolbar'  %>

<% end %>
