<% subscription||=@subscription %>
<% hide_toolbar||=false %>

<%= div_for(subscription,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Service" %>:</th>
		<td><%= link_to(subscription.service,service_url(subscription.service)) %></td>
	  <th><%= "Consumer" %>:</th>
		<td><%= link_to(subscription.consumer,consumer_url(subscription.consumer)) %></td>
	</tr>
  <tr>
	  <th><%= "Starts at" %>:</th>
		<td><%= subscription.starts_at %></td>
	  <th><%= "Ends at" %>:</th>
    <td><%= subscription.ends_at %></td>
  </tr>
</table>

<%= render :partial => 'shared/additional_information', :locals => {:record => @subscription} %>



<%= render :partial => 'object_toolbar'  %>

<% end %>
