<div id="integration_tab" class="tab">
	<ul class="tabs">
		<%= tab_for("Clients", subscriptions_integration_url(@integration)) %>
		<%= tab_for("Contacts", contacts_integration_url(@integration)) %>
		<%= tab_for("Backends", backends_integration_url(@integration)) %>
		<%= tab_for("Relations", relations_integration_url(@integration)) %>
    <%= tab_for("Stakeholders", {} ,{selected: false,:class => "disabled"}) %>
    <%= tab_for("Documetation", {} ,{selected: false,:class => "disabled"}) %>
    <%= tab_for("Statistics", {} ,{selected: false,:class => "disabled"}) %>
		<%# tab_for("Issues",  {} ,{selected: false,:class => "disabled"}) %>
	</ul>
</div>

<div class="clr"></div>

