<% system||=@system %>
<% record||=system %>
<% hide_toolbar||=false %>

<%= div_for(system,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Name" %>:</th>
		<td><%= system.name %></td>
	  <th><%= "Id" %>:</th>
		<td><%= system.identifier %></td>
	</tr>
</table>

<%= render :partial => 'shared/more', :locals => {:record => record} %>

<%= render :partial => 'shared/object_toolbar' , :locals => {:controller_name => system.class.to_s.pluralize.downcase, :id => system.id} %>

<% end %>
