<% subscription||=@subscription %>
<% hide_toolbar||=false %>

<%= div_for(subscription,:class => 'show') do %>
<table class="show" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <th><%= "Service" %>:</th>
		<td><%= subscription.service %></td>
	  <th><%= "Consumer" %>:</th>
		<td><%= subscription.consumer %></td>
	</tr>
</table>
<% end %>

<%= render :partial => 'object_toolbar'  %>

